@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root {
  --text-color: #1A1A1A;
  --blue: #1e90ff;
  --white: #ffffff;
  --past: #CCCCCC;
  --future: #74E96E;
  --present: #F14D57;

}
 
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  padding: 0px 80px 80px 80px;
}

/***************************
       TEXT AREA
***************************/

#task {
  background-color: var(--future);
}

.past{
  background-color: var(--past);
}

.present{
  background-color: var(--present);
}

.future{
  background-color: var(--future);
}

/* **************************
          HEADER
************************** */

.jumbotron {
   color: black;
   text-align: center;
   border-bottom: solid;
   border-bottom: black;
   box-shadow: 0 0 20px 10px grey;
 } 

#currentDay {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px; 
  padding-top: 35px; 
  color:darkmagenta"
}

#task {
  /* white-space: pre-wrap; */
  border-style: solid;
  border-width: 2px;
  border-color:#000000;
}

input[type=text], select {
  width: 100%; 
  padding: 20px; 
  margin: 8px 0; 
  display: inline-block; 
  box-sizing: border-box;
  font-weight: normal;
  padding-top:10px;
}

.row {
  /* white-space: pre-wrap; */
  height: 96px;
}

.model-container {
  padding-top: 50%;
}

button {
  background-color: #06aed5;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color:#000000;
  height: 80px;
}

button:hover {
  font-size: 50px;
  background-color: var(--past);
  transition: all 0.2s ease-in-out;
}

/***************************
     STYLE TIME COLUMN
***************************/

p {
   font-weight: 1px;
   font-family: sans-serif;
   color: #000000;
   display:flex;
   align-items: center;
   justify-content: center;
   border-style: solid;
   border-width: 1px;
   /* height: inherit; */
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;

}

.block {
  border-style: solid;
  border-width: 2px;
  border-color:#000000;
  font-size: large;
  font-weight: bold;
  background-color: var(--present);
}

textarea{
  height: 80px;
  background-color: var(--past);
}