/***************************
    ALL PAGE ELEMENTS
***************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/***************************
          HEADER
***************************/
.header-container {
 color: black;
  border-bottom: black;
  padding-top: 50px;
}

.jumbotron {
  text-align: center;
  border-bottom: solid;
  box-shadow: 0 0 20px 1px grey;
}

.description {
  white-space: pre-wrap;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;

}

.model-container {
  padding-top: 50%;
}

.saveBtn {
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.btn{
  background-color:#1e88e5;
}

.model-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.4);
}

.modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.modal—container--close {
  color: 1M;
  float: right;
  font-size: 28px;
  font-weight: bold
}

.modal—container--close:hover,
.modal—container--close:focus {
  color: ❑black;
  text-decoration: none;
  cursor: pointer;
}

.event {
  padding-top: 8px;
  font-size: 14px;
  position: absolute;
  height: 100%;
}

/***************************
        COLORS
***************************/
.blue-color {
  color:blue;
}

.green-color {
  color:green;
}

.teal-color {
  color:teal;
}

.yellow-color {
  color:yellow;
}

.red-color {
  color:red;
}

.red-color {
  color:grey;
}

/***************************
     STYLE TIME COLUMN
***************************/

 p span{
   font-weight: 0.5px;
 }

.hour{
   font-weight: 1px;
   font-family: sans-serif;
   background-color: #ffffff;
   color: #000000;
   display:flex;
   align-items: center;
   justify-content: center;
   border-style: solid;
   border-width: 1px;
   height: inherit;
}

#currentDay{
  padding-top:5px;
  /* margin-top: 50px; */
  font-weight: bold;
  font-size: 25px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}